PORT=3000
IIKO_API_LOGIN=2GeejrU30pZfUww3pu_Ap0M8qPBdxHB5HxBtsZR2tnM
IIKO_APP_ID=051abef2-8e31-4691-9b68-1f7d84262cad

# Раскомментируйте, если используете Firebase как основную базу
# FIREBASE_PROJECT_ID=your-project-id
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk-...@your-project-id.iam.gserviceaccount.com
