<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Resto.Front.Api.SagiLoyalty.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Resto.Front.Api.SagiLoyalty.Properties.Settings>
   <setting name="SagiPassword" serializeAs="String">
    <value>123456</value>
   </setting>
   <setting name="LiveEnviroment" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TimerInterval" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StampsCountLimit" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="BonusSaleNumber" serializeAs="String">
    <value>7779000</value>
   </setting>
   <setting name="BonusSaleFixedAmounts" serializeAs="String">
    <value>50;100;500;1000</value>
   </setting>
   <setting name="BonusSaleOpenPrice" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TimeoutSec" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="SagiLogin" serializeAs="String">
    <value>+77010744454</value>
   </setting>
  </Resto.Front.Api.SagiLoyalty.Properties.Settings>
	</applicationSettings>
</configuration>